.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;

}

.logo {
	width: 396px;
	margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.nav :hover {
    text-decoration: none;
    color: white;
}

.nav {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
 }

.nav a {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20pt;
    color: rgb(73,95,124);
	text-decoration: none;
	margin-bottom: 30px;
	padding-left: 92px;
	padding-right: 92px;
    border-bottom:3px solid white;
    height: 60px;
    flex-grow: 1;
    flex-shrink: 1;
}


.active {
	display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

}

.nav a.active {
	color: white;
}

.second_nav :hover {
    text-decoration: none;
    color: white;
}
.second_nav  {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
    align-items: center;
    margin-top: -7px;
    flex-shrink: 1;
    flex-grow: 1;
}

.second_nav a {
	font-family: 'Josefin Sans', sans-serif;
    font-size: 15pt;
    color: rgb(73,95,124);
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 100%;
    
}

.active_second {
	display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -8px;
}
.second_nav a.active_second {
	color: white;
}

.illustrations {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
	margin-right: 42px;
	padding-bottom: 29px;
}



.illustrations li {
	list-style: none;
}

.image {
	padding-left: 7px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
}

.image_project {
	padding-left: 7px;
	padding-top: 5px;
	padding-right: 7px;
	padding-bottom: 5px;
}

.book {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 29px;
	margin-left: -38px;
}

.booktext {
	margin-left: 38px;
}

.bookimages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.book li {
	list-style: none;
}

.book h3 {
	font-style: regular;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20pt;
	color:rgb(73,95,124);
	margin-top: 40px;
	text-align: center;
	margin-bottom: 5px;
}

.lineart {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 29px;
	margin-top: 42px;
	margin-left: -50px;
}

.lineartimages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.lineart li {
	list-style: none;
}

.illu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 29px;
	margin-top: 42px;
	margin-left: -50px;
}

.illuimages {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.illuimages li {
	list-style: none;
}


body {
	background-color:rgb(190,194,199);
	background: url () no-repeat fixed;
	background-size: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    height: 3em;
    margin-left: -8px;
    display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.footer ul{
	list-style: none;
	margin-bottom: 0px;
	display: flex;
	flex-direction: row;
	margin-right: 8px;
	align-items: center;
	font-family: verdana, sans-serif;
    font-size: 12pt;
    color: rgb(195,200,270);
}